.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: var(--semi-color-text-0);
  margin-bottom: 8px;
}

.info-icon {
  margin-left: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.base-selector-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.base-selector-option-content {
  display: flex;
  align-items: center;
}

.base-selector-option-link {
  cursor: pointer;
  margin-left: 6px;
  font-size: 12px;
  height: 12px;
  display: flex;
  align-items: center;

  svg {
    color: #646a73;
  }
}

.base-selector-option-icon {
  font-size: 16px;
  height: 16px;
  margin-right: 2px;
  color: #646a73;
  display: flex;
  align-items: center;
}